
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
}


.students li {
    position: absolute;
    top: 40px;
    left: 40px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid #ff00ff;
    box-shadow: 0 0 15px #ff00ff;
    list-style: none;
    font-size: 18px;
}

.calculator {
    background: #120024cc;
    padding: 25px;
    border-radius: 20px;
    width: 320px;

    box-shadow: 0 0 25px #8000ff;
}


.display {
    width: 100%;
    height: 60px;
    font-size: 28px;
    text-align: right;

    background: #000;
    color: #0affff;
    padding: 12px;

    border-radius: 10px;
    border: 2px solid #ff33cc;
    box-shadow: 0 0 15px #ff33cc;
    margin-bottom: 20px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}


.buttons input[type="button"] {
    padding: 18px;
    font-size: 22px;
    background: #0b0042;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    box-shadow: 0 0 10px #00aaff;
    transition: 0.2s;
}

.buttons input[type="button"]:hover {
    background: #003399;
}


.clear {
    grid-column: span 2;
    background: #ff0033 !important;
    box-shadow: 0 0 10px #ff0033 !important;
}


.equal {
    background: #ffaa00 !important;
    box-shadow: 0 0 10px #ffaa00 !important;
}
